<div class="container">
  <div *ngIf="ispo; then bujji else bajji"></div>
  <ng-template #bajji>
    <div class="para"><dl>
      <dt class="dt">Click the image for More Details...</dt>  
      <dd class="dd ">Only details not for Download</dd>
    </dl>
    </div>
    <div class="row m-2">
      <div *ngFor="let i of event; let j = index;" class="card col-sm-2 m-2 bg-black text-white mt-md-2 zoom-card">
        <button class="b1 bg-black text-white border-0" (click)="det(j)">
          <img src="{{i.Poster}}" alt="" class="card-img-top m-1" [height]="100">
          <table class="table">
            <tr>
              <td class="small-font">Title</td>
              <td class="small-font">:</td>
              <td class="small-font me-2">{{i.Title}}</td>
            </tr>
            <tr>
              <td class="small-font">Year</td>
              <td class="small-font">:</td>
              <td class="small-font">{{i.Year}}</td>
            </tr>
          </table>
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template #bujji>
    <div class="det">
  <h3 class="text-white h4 ">Details of <span class="te text-decoration-underline">{{event[ind].Title}}</span> Movie</h3>
  </div>
    <div class="alert alert-dismissible show text-white p-3 rounded border-2 ">
      <div class="row">
        <div class="d3">
          <div class="carousel">
            <img src="{{event[ind].Poster}}" alt="" class="card-img-top m-1 poster-image">
          </div>
          <table class="table">
            <tr>
              <td class="small-font">Title</td>
              <td class="small-font">:</td>
              <td class="small-font me-2">{{event[ind].Title}}</td>
            </tr>
            <tr>
              <td class="small-font">Year</td>
              <td class="small-font">:</td>
              <td class="small-font">{{event[ind].Year}}</td>
            </tr>
            <tr>
              <td class="small-font">Director</td>
              <td class="small-font">:</td>
              <td class="small-font">{{event[ind].Director}}</td>
            </tr>
            <tr>
              <td class="small-font">Actors</td>
              <td class="small-font">:</td>
              <td class="small-font">{{event[ind].Actors}}</td>
            </tr>
            <tr>
              <td class="small-font">Genre</td>
              <td class="small-font">:</td>
              <td class="small-font">{{event[ind].Genre}}</td>
            </tr>
            <tr>
              <td class="small-font">Awards</td>
              <td class="small-font">:</td>
              <td class="small-font">{{event[ind].Awards}}</td>
            </tr>
            <tr>
              <td class="small-font">Country</td>
              <td class="small-font">:</td>
              <td class="small-font">{{event[ind].Country}}</td>
            </tr>
          </table>
          <button class="btn btn-danger btn-outline-info downb" (click)="det(j)">
            Back to Home
          </button>
        </div>
        <button type="button" class="btn-close custom-close-btn" data-bs-dismiss="alert" aria-label="Close" (click)="det(j)"></button>
      </div>
    </div>
  </ng-template>
  
</div>
